<tr class="line-item">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy unless readonly %>

  <td>
    <%= f.text_field :description,
          size: 50,
          placeholder: l(:label_description),
          no_label: true,
          disabled: readonly %>
  </td>

  <td>
    <%= f.number_field :quantity,
          step: 1,
          min: 1,
          style: "width:90px;",
          no_label: true,
          disabled: readonly %>
  </td>

  <td>
    <%= f.number_field :unit_price,
          step: 0.01,
          style: "width:120px;",
          no_label: true,
          disabled: readonly %>
  </td>

  <% unless readonly %>
    <td style="text-align:center;">
      <button type="button"
              class="icon-only icon-del"
              title="Remove"
              data-nested-form-remove>
      </button>
    </td>
  <% end %>
</tr>